akshare==1.18.60
annotated-types==0.7.0
APScheduler==3.11.2
beautifulsoup4==4.14.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
curl_cffi==0.15.0
decorator==5.2.1
dnspython==2.8.0
duckdb==1.5.2
et_xmlfile==2.0.0
html5lib==1.1
idna==3.14
iniconfig==2.3.0
jsonpath==0.82.2
lxml==6.1.0
markdown-it-py==4.2.0
mdurl==0.1.2
mini-racer==0.14.1
motor==3.7.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
psutil==7.2.2
pyarrow==24.0.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pymongo==4.17.0
pytest==9.0.3
python-dateutil==2.9.0.post0
pythongo==0.0.1
requests==2.33.1
rich==15.0.0
six==1.17.0
soupsieve==2.8.3
tabulate==0.10.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
webencodings==0.5.1
xlrd==2.0.2
